<div class="container">
    <h4><%= @question %></h4>
    <p><em>-You</em></p>
</div>
<div class="container">
    <h4><%= @answer %></h4>
    <p><em>-Your coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path%>
